<form class="container" action="/locations" id="location-create-form" method="POST">

  <div id="error" class="divError">

    {{#if error}}
    <p>{{error}}</p>
    {{/if}}
  </div>
  
  <label for="location_name">Name</label>
  <br />
  <input
    class="form-input"
    id="location_name"
    name="location_name"
    type="text"
    placeholder="Name"
    value="{{data.location_name}}"
  />
  <br />

  <label for="location_desc">Description</label>
  <br />
  <input
    class="form-input"
    id="location_desc"
    name="location_desc"
    type="text"
    placeholder="Description"
    value="{{data.location_desc}}"
  />
  <br />

  <label for="location_type">Location Type</label>
  <br />

  <select class="form-input" name="location_type" id="location_type">
    <option value="#">Select Type</option>
    <option value="Residence" {{ selected data.location_type "Residence" }}>Residence</option>
    <option value="Academic" {{ selected data.location_type "Academic" }}>Academic</option>
    <option value="Recreational" {{ selected data.location_type "Recreational" }}>Recreational</option>
    <option value="Administrative" {{ selected data.location_type "Administrative" }}>Administrative</option>
    <option value="Parking" {{ selected data.location_type "Academic" }}>Parking</option>
    <option value="Health" {{ selected data.location_type "Health" }}>Health</option>
  </select>
  
  <br />

  <label for="opening_hours">Opening Hours</label>
  <br />
  <input
    class="form-input"
    id="opening_hours"
    name="opening_hours"
    type="time"
    min="00:00:00"
    max="23:59:59"
    step="1"
    value="{{data.opening_hours}}"
  />
  {{! placeholder="[&quot;hh:mm:ss&quot;, &quot;hh:mm:ss&quot;]" }}
  <br />

  <label for="closing_hours">Closing Hours</label>
  <br />
  <input
    class="form-input"
    id="closing_hours"
    name="closing_hours"
    type="time"
    min="00:00:00"
    max="23:59:59"
    step="1"
    value="{{data.closing_hours}}"
  />
  <br />

  <label for="location">Location Coordinates. Please enter Co-ordinates in GeoJSON Co-ordinate format</label>
  <br />
  <input
    class="form-input"
    id="location"
    name="location"
    type="text"
    placeholder="Ex: [[[-74.027, 40.74], [-74.07, 40.742], [-74.028, 40.73], [-74.65, 40.78], [-74.04, 40.98], [-74.027, 40.74], [-74.024, 40.7434]]]"
    value="{{data.location}}"
  />
  <br />

  <div id="entrances-container"></div>
  <button type="button" id="add-entrance">Add Entrance</button>

  <input type="submit" class="submit-button" value="Create" />
  <br />
  <a href="/locations" class="btn btn-info">Back to all locations</a>
</form>

<script src="/public/js/locationCreate.js"></script>
<script>
  const entrancesContainer = document.querySelector('#entrances-container');
  const addEntranceButton = document.querySelector('#add-entrance'); let
  numEntrances = 1; addEntranceButton.addEventListener('click', () => { const
  newEntranceHtml = ` <fieldset> <label for="location_entrances">Entrance
  ${numEntrances}'s Coordinates:</label> <br> <input class="form-input"
  id="location_entrances" name="location_entrances" type="text"
  placeholder="Cordinates of Entrances"> 
  <label for="entrance_access">Accessible? (Y/N): 
  <select class="form-input" 
  name="entrance_access" pattern="[YyNn]">
  <option value="#">Select Type</option>
  <option value="Y">Yes</option>
  <option value="N">No</option>
  </select>
  </label>
  <br> </fieldset> `;
  entrancesContainer.insertAdjacentHTML('beforeend', newEntranceHtml);
  numEntrances++; });
</script>