<form class="container" action="/locations/edit/{{data._id}}" id="location-edit-form" method="POST">
    <input name='_method' value="PUT" hidden />
    
    <label for="location_name">Name</label>
    <br>
    <input class="form-input" id="location_name" name="location_name" type="text" placeholder="Name" value="{{data.name}}">
    <br>
    
    <label for="location_desc">Description</label>
    <br>
    <input class="form-input" id="location_desc" name="location_desc" type="text"
        placeholder="Description" value="{{data.desc}}"> 
    <br>

    <label for="location_type">Location Type</label>
    <br>
    {{data.location_type}}
    <select class="form-input" name="location_type" id="location_type">
        <option value="#">Select Type</option>
        <option value="Residence" {{ selected data.location_type "Residence" }}>Residence</option>
        <option value="Academic" {{ selected data.location_type "Academic" }}>Academic</option>
        <option value="Recreational" {{ selected data.location_type "Recreational" }}>Recreational</option>
        <option value="Administrative" {{ selected data.location_type "Administrative" }}>Administrative</option>
        <option value="Parking" {{ selected data.location_type "Academic" }}>Parking</option>
        <option value="Health" {{ selected data.location_type "Health" }}>Health</option>
    </select>
    <br>
    
    <label for="opening_hours">Opening Hours</label>
    <br>
    <input class="form-input" id="opening_hours" name="opening_hours" type="time" min="00:00:00" max="23:59:59" step="1" value="{{data.operating_hours.[0]}}">
    {{!-- placeholder="[&quot;hh:mm:ss&quot;, &quot;hh:mm:ss&quot;]" --}}   
    <br>

    <label for="closing_hours">Closing Hours</label>
    <br>
    <input class="form-input" id="closing_hours" name="closing_hours" type="time" min="00:00:00" max="23:59:59" step="1" value="{{data.operating_hours.[1]}}">
    <br>

    {{!-- <label for="location">Location Coordinates</label>
    <br>
    <input class="form-input" id="location" name="location" type="text" placeholder="GeoJson of Location" value="{{data.location.coordinates}}">
    <br>

    <label for="location_entrances">Entrances Coordinates</label>
    <br>
    <input class="form-input" id="location_entrances" name="location_entrances" type="text" placeholder="GeoJson of Entrances" value="{{data.entrances}}">
    <br> --}}

{{#if error}}
  <p class="error">{{{error}}}</p>
{{/if}}


    <input type="submit" class="submit-button" value="Update">
    <br />
    <a href="/locations" class="btn btn-info">Back to all locations</a>
</form>