<div class="container">
  <h1 class="event-name">{{data.name}}</h1>
  <div class="event-details">
    <dl>
      <dt>Event Description:</dt>
      <dd class="event-desc">{{data.desc}}</dd>
      <dt>Event Type:</dt>
      <dd class="event-type">{{data.type}}</dd>
      <dt>Date:</dt>
      <dd class="event-date">{{data.event_date}}</dd>
      <dt>Hours:</dt>
      <dd class="event-hours">{{data.formated_time_start}}
        to
        {{data.formated_time_end}}</dd>
    </dl>
    <div class="event-actions">
      <button class="register-button" data-id="{{data._id}}">Register</button>
      {{#if isAdmin}}
        <button class="edit" data-id="{{data._id}}">Edit</button>
        <button class="delete" data-id="{{data._id}}">Delete</button>
      {{/if}}
    </div>
    {{#if renderMap}}
        {{> map}}
    {{/if}}
  </div>
  <a class="back-link" href="/events">Back to all Events</a>
</div>
{{> dialog}}
<link rel="stylesheet" href="/public/css/event.css">
<script src="/public/js/events.js"></script>