  <h1>{{title}}</h1>
  <form action="/events" method="GET">
    <label for="key">Search</label>
    <input type="text" name="key" id="key" placeholder="Search..." />
    <button class="submit" type="submit">Submit</button>
  </form>
  {{#if key}}
    <h3>Results for "{{key}}"</h3>
    <a href="/events">Back to all Events</a>
  {{/if}}
  <ol class="container" >
    {{#each data}}
      <li class="cards">
        <div class="cards-inner">
          <h2><a href="/events/{{_id}}">{{name}}</a></h2>
          <dl>
            <dt>Type</dt>
            <dd>{{type}}</dd>
            <dt>Time: </dt>
            <dd>{{start_hour}} : {{end_hour}}</dd>
          </dl>
          {{#if @root.isAdmin}}
          <br />
          {{#if ../isAdmin}}
          <button class="edit" data-id="{{this._id}}">Edit</button>
          <button class="delete" data-id="{{this._id}}">Delete</button>
          {{/if}}
          {{/if}}
        </div>
        
      </li>
    {{/each}}
  </ol>

  {{#if isAdmin}}
    <form id="create-form" method="GET" action="/events/create">
      <button type="submit" class="submit-button">Create a New Event</button>
    </form>
  {{/if}}
{{> dialog}}

<script src="/public/js/events.js"></script>