<form action="/locations" id="location-create-form" method="POST">
  <label for="location_name">Name</label>
  <br />
  <input
    class="form-input"
    id="location_name"
    name="location_name"
    type="text"
    placeholder="Name"
    value="{{data.location_name}}"
  />
  <br />

  <label for="location_desc">Description</label>
  <br />
  <input
    class="form-input"
    id="location_desc"
    name="location_desc"
    type="text"
    placeholder="Description"
    value="{{data.location_desc}}"
  />
  <br />

  <label for="location_type">Location Type</label>
  <br />
  <input
    class="form-input"
    id="location_type"
    name="location_type"
    type="text"
    placeholder="Type of this Location"
    value="{{data.location_type}}"
  />
  <br />

  <label for="opening_hours">Opening Hours</label>
  <br />
  <input
    class="form-input"
    id="opening_hours"
    name="opening_hours"
    type="time"
    min="00:00:00"
    max="23:59:59"
    step="1"
    value="{{data.opening_hours}}"
  />
  {{! placeholder="[&quot;hh:mm:ss&quot;, &quot;hh:mm:ss&quot;]" }}
  <br />

  <label for="closing_hours">Closing Hours</label>
  <br />
  <input
    class="form-input"
    id="closing_hours"
    name="closing_hours"
    type="time"
    min="00:00:00"
    max="23:59:59"
    step="1"
    value="{{data.closing_hours}}"
  />
  <br />

  <label for="location">Location Coordinates</label>
  <br />
  <input
    class="form-input"
    id="location"
    name="location"
    type="text"
    placeholder="GeoJson of Location"
    value="{{data.location}}"
  />
  <br />

  <div id="entrances-container"></div>
  <button type="button" id="add-entrance">Add Entrance</button>

  <input type="submit" class="submit-button" value="Create" />
  <br />
  <a href="/locations" class="btn btn-info">Back to all locations</a>
</form>

{{#if error}}
  <p class="error">{{{error}}}</p>
{{/if}}

<script>
  const entrancesContainer = document.querySelector('#entrances-container');
  const addEntranceButton = document.querySelector('#add-entrance'); let
  numEntrances = 1; addEntranceButton.addEventListener('click', () => { const
  newEntranceHtml = ` <fieldset> <label for="location_entrances">Entrance
  ${numEntrances}'s Coordinates:</label> <br> <input class="form-input"
  id="location_entrances" name="location_entrances" type="text"
  placeholder="Cordinates of Entrances"> <label
  for="entrance_access">Accessible? (Y/N): <input class="form-input" type="text"
  name="entrance_access" pattern="[YyNn]"></label><br> </fieldset> `;
  entrancesContainer.insertAdjacentHTML('beforeend', newEntranceHtml);
  numEntrances++; });
</script>