<form action="/events/edit/{{data._id}}" id="event-edit-form" method="POST">
    {{!-- <input type="hidden" name="_method" value="PUT"> --}}
    <input name='_method' value="PUT" hidden />
    
    <label for="event_name">Name</label>
    <br>
    <input class="form-input" id="event_name" name="event_name" type="text" placeholder="Name" value="{{data.name}}">
    <br>
    
    <label for="event_desc">Description</label>
    <br>
    <input class="form-input" id="event_desc" name="event_desc" type="text"
        placeholder="Description" value="{{data.desc}}"> 
    <br>


    <label for="event_type">Event Type*</label>
    <br>
    <select class="form-input" name="event_type" id="event_type">
        <option value="#">Select Type</option>
        <option value="Class" {{#if_eq data.type "Class"}}selected{{/if_eq}}>Class</option>
        <option value="Event" {{#if_eq data.type "Event"}}selected{{/if_eq}}>Event</option>
    </select>
    <br>

    <label for="event_start_date">Start Date</label>
    <br>
    <input class="form-input" id="event_start_date" name="event_start_date" type="date" placeholder="Date" value="{{data.event_date.[0]}}">
    <br>

    <label for="event_end_date">End Date</label>
    <br>
    <input class="form-input" id="event_end_date" name="event_end_date" type="date" placeholder="Date" value="{{data.event_date.[1]}}">
    <br>

    <label for="event_days">Event Days*. Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</label>
    <br>
    <select class="form-input" name="event_days" id="event_days" multiple>
        <option value="1" {{#if_in data.event_date.[2] "1"}}selected{{/if_in}}>Monday</option>
        <option value="2" {{#if_in data.event_date.[2] "2"}}selected{{/if_in}}>Tuesday</option>
        <option value="3" {{#if_in data.event_date.[2] "3"}}selected{{/if_in}}>Wednesday</option>
        <option value="4" {{#if_in data.event_date.[2] "4"}}selected{{/if_in}}>Thursday</option>
        <option value="5" {{#if_in data.event_date.[2] "5"}}selected{{/if_in}}>Friday</option>
        <option value="6" {{#if_in data.event_date.[2] "6"}}selected{{/if_in}}>Saturday</option>
        <option value="7" {{#if_in data.event_date.[2] "7"}}selected{{/if_in}}>Sunday</option>
    </select>
    <br>

    <label for="opening_hours">Opening Hours</label>
    <br>
    <input class="form-input" id="opening_hours" name="opening_hours" type="time" min="00:00:00" max="23:59:59" step="1" value="{{data.hours.[0]}}">
    <br>

    <label for="closing_hours">Closing Hours</label>
    <br>
    <input class="form-input" id="closing_hours" name="closing_hours" type="time" min="00:00:00" max="23:59:59" step="1" value="{{data.hours.[1]}}">
    <br>
    <input type="submit" class="submit-button" value="Save Changes"></input>
    <br />
    <a href="/events" class="btn btn-info">Back to all events</a>
</form>