<section>
  <h1>Feedback</h1>
  <div id="error" class="error" hidden><div class="error-text"></div></div>
  <form action="/feedback" method="POST" id="feedback-form">
      {{#if id}}
      <input type="text" id="reported_by" name="reported_by" readonly value="{{ id }}" hidden>
       {{/if}}
    <br>
      <label for="event_type">Event type: </label>
      <select id="event_type" onclick="events()">
        <option value="departments" >Departments</option>
        <option value="locations" >Locations</option>
        <option value="events" >Events</option>
      </select>
    <br>
      <label for="event_list">Event: 
        <select id ="event_list" name = "event_list">
          <option value="#">Search Options</option>
        </select>
        <select id="events_list" name = "reported_object" onclick="events()" hidden>
          <option value="#">Search Options</option>
          {{#each events}}
          <option value="{{ this._id }}">{{this.name}}</option>
          {{/each}}
        </select>
        <select id="department_list" name = "reported_object" onclick="events()" hidden>
          <option value="#">Search Options</option>
          {{#each departments}}
          <option value="{{ this._id }}">{{this.name}}</option>
          {{/each}}
        </select>
        <select id="locations_list" name = "reported_object" onclick="events()" hidden>
          <option value="#">Search Options</option>
          {{#each locations}}
          <option value="{{ this._id }}">{{this.name}}</option>
          {{/each}}
        </select>
      </label>
      <br>
    <label for="feedback_description">Your Feedback: </label>
	<textarea id="feedback_description" name="feedback_description"></textarea>
  <br>
    <button class="submit-button" type="submit" onclick="submitfeedback()">Submit</button>
  {{#if success}}
    <div id="feedback-success"><p>Thank you for your feedback!</p></div>
  {{/if}}
  </form>
  {{#if isAdmin}}
    <br>
    <form id="get-all-feedback" method="GET" action="/feedback/getAll">
      <button type="submit" >View all feedback</button>
    </form>
  {{/if}}
</section>
<script src = "/public/js/feedback.js"> </script>