<div class="container-fluid fill">
    <h1>Hey {{username}}!</h1>
    <p>{{displayString}}</p>
    <div class="flex-container">
        <div class="flex-child cards-container">
            {{#each events}}
            <div class="cards">
                <h2>{{name}}</h2>
                <dl>
                    <dt>Type</dt>
                    <dd>{{type}}</dd>
                    <dt>Hours</dt>
                    <dd>
                        {{hours}}
                    </dd>
                    <dt>Location</dt>
                    <dd><a href="/locations/{{Location_details._id}}">{{Location_details.name}}</a></dd>
                    {{#if Location_details.rooms}}
                    <dt>Room Number</dt>
                    <dd>{{Location_details.rooms.room_number}}</dd>
                    <dt>Floor Number</dt>
                    <dd>{{Location_details.rooms.floor_number}}</dd>
                    {{/if}}
                </dl>
            </div>
            {{/each}}
        </div>
        <div class="flex-child">
            <div id="map"></div>
            
        </div>
    </div>
    
</div>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script>
    const map = L.map('map')
    console.log({{{ geoObject }}})
    const pointLayer = L.geoJSON([{{{ geoObject }}}], {
        onEachFeature: function (feature, layer) {
            layer.bindPopup('<p>' + feature.properties.popupContent + '</p>');
        }
    } ).addTo(map)
    map.fitBounds(pointLayer.getBounds());
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        { attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>', maxZoom: 19, }).addTo(map);
</script>
