<h1>{{title}}</h1>
<form action="/locations" method="GET">
  <input type="text" class="form-input" name="key" placeholder="Search..." />
  <button type="submit">Search</button>
</form>
<hr />
{{#if key}}
  <h3>Results for "{{key}}"</h3>
  <a href="/locations">Back to all Locations</a>
{{/if}}
<div class="container">
  {{#each data}}
    <div class="cards">
      <h2><a href="/locations/{{_id}}">{{name}}</a></h2>
      <dl>
        <dt>Type</dt>
        <dd>{{type}}</dd>
        <dt>Operating hours</dt>
        <dd>{{open}} : {{close}}</dd>
      </dl>
      {{#if @root.isAdmin}}
        <div class="container inline-forms">
        <form method="POST" action="/locations/{{_id}}">
          <button
            type="submit"
            class="submit-button"
          >Delete</button>
        </form>
        <form method="GET" action="/locations/edit/{{_id}}">
          <button
            type="submit"
            class="submit-button"
          >Edit</button>
        </form>
        </div>
      {{/if}}
    </div>

  {{/each}}
</div>
{{#if isAdmin}}
  <form id="create-form" method="GET" action="/locations/create">
    <button type="submit" class="btn btn-sm btn-primary">Create a New Location</button>
  </form>
{{/if}}